.modal{
    background-color: transparent;
}
.modal button{
    background-color: white;
    color: white;
}
.modal button:hover{
    background-color: rgb(130, 21, 255);
}
.modal-body{
    background-color: rgb(29, 29, 29);
}
.modal-header{
    background-color: rgb(29, 29, 29);
}
.form-select{
    background-color: rgb(58, 58, 58);
    color: white;
    border: none;
}
.form-group{
    background-color: rgb(58, 58, 58);
}
.form-control{
    background-color: rgb(58, 58, 58);
    color: white;
    border: none;

}
.form-control::placeholder{
    color: white;
}
.modal-footer{
    background-color: rgb(29, 29, 29);
}
.modal-footer button{
    background-color: rgb(130, 21, 255);
}
.modal-footer button:nth-child(1):hover{
    background-color: rgb(255, 39, 39);
}
.modal-footer button:nth-child(2):hover{
    background-color: rgb(22, 126, 22);
}