* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}

body {
  color: white;
  background-color: rgb(10, 10, 10);

}

/* Utility */
.dash-line {
  width: 60%;
  /* height: 10%; */
  color: grey;
  margin: 3% 0;
}

/* works Main */

.works-main {
  width: 100%;
  height: 100%;
  /* border: 2px solid rgb(245, 245, 245); */
  background-color: rgb(10, 10, 10);
  display: flex;
  position: relative;
  /* overflow-y: hidden; */
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.works-main-container {
  width: 90%;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  /* justify-content: center ; */
  align-items: center;

  /* border: 2px solid white; */
}

.works-header-container {
  width: 100%;
    height: 20%;
    padding: 5% 0;
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.transp-sec {
  position: absolute;
  color: rgb(58, 58, 58);
  font-size: 70px;
  opacity: .5;
  font-weight: 800;
  z-index: 1;
}

.head {
  color: white;
  font-size: 40px;
  font-weight: 800;
  z-index: 2;
}

.head span {
  color: rgb(130, 21, 255);
  /* Or your desired hover color */
}

.portfolio-container {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projects-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.project-card{
  margin: 1rem;
  width: 15rem;
  background-color: rgb(29, 29, 29);
  position: relative;
}

.project-card .card-body{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #fff;
  position: absolute;
  opacity: 0;
}
.project-card .card-body:hover{
  opacity: 1;
  transition: opacity .3s ease-in;
}

.project-card .card-body .card-title{
  color: black;
}
.project-card .buttons-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .project-card .card-title{
  color: white;
  margin: 1rem 0;
} */
.project-card i{
  padding: 10px;
    border-radius: 0;
    margin-left: 3px;
    background-color: rgb(130, 21, 255);
    color: white;
    font-size: 13px;
    margin-right: 1rem;
}

/* Responsive */
@media screen and (max-width:576px){
  .project-card{
    margin: 1.3rem;
    width: 22rem;
  }
  .works-header-container{
    margin-top: 3em;
  }
}

